.box-deslogado{
    display:block;
    width:160px;
    height:35px;
    float:right
}
.box-deslogado ul{
    display:block;
    list-style-type:none;
    color:#e0e0e0;
    width:160px;
    height:35px;
    float:right
}
.box-deslogado ul>li{
    float:left;margin:18px 0 0 17px
}
.box-deslogado ul>li a{
    font-size:13px
}

.box-deslogado .box-deslogado-menu{
    width:160px;
    height:35px;
    float:right;
    display:block
}
.box-deslogado .box-deslogado-login{
    position:absolute;
    margin:42px 0 0 -51px;
    z-index:999;
    display:none
}
.box-deslogado .box-deslogado-login .tip{
    width:20px;
    height:11px;
    margin-left:77px
}
.box-deslogado .box-deslogado-login .float-box{
    width:290px;
    height:auto;
    background:#fff;
    border:1px solid #c1c1c1;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-top:-1px;box-shadow:0 3px 8px rgba(0,0,0,.25);
    -moz-box-shadow:0 3px 8px rgba(0,0,0,.25);
    -webkit-box-shadow:0 3px 8px rgba(0,0,0,.25);
    margin-left:-90px
}
.box-deslogado .box-deslogado-login .float-box .float-box-login{
    height:auto;
    padding:10px
}
.box-deslogado .box-deslogado-login .float-box .float-box-login .box-result-validation{
    display:none;
    margin-bottom:10px
}
.box-deslogado .box-deslogado-login .float-box .float-box-login input{
    width:250px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom:5px;
    font-size:13px;
    padding-left:10px;
    padding-right:10px
}
.box-deslogado .box-deslogado-login .float-box .float-box-login button{
    width:273px
}
.box-deslogado .box-deslogado-login .float-box .float-box-login .box-login-opcoes{
    height:35px
}
.box-deslogado .box-deslogado-login .float-box .float-box-login .box-login-opcoes a{
    display:block;
    width:140px;
    height:20px;
    font-size:13px;
    color:#404040;
    float:left;
    margin-top:15px
}
.box-deslogado .box-deslogado-login .float-box .float-box-login .box-login-opcoes a:hover{
    color:#20a2b1
}
.box-login-opcoes .left{
    float:left;
    padding:8px 0
}
.box-login-opcoes .left input[type=checkbox]{
    width:13px!important;
    float:left
}
.box-login-opcoes .left label{
    margin-left:5px;
    cursor:pointer
}
.box-login-opcoes .right{
    width:104px;
    float:right;
    padding:8px 0
}
.box-login-opcoes .right a{
    font-size:11px!important;
    margin-top:0!important;
    width:103px!important
}
.box-login-opcoes-loginsocial{
    padding-top:10px;
    border-top:1px solid #d9d9d9
}
.box-login-opcoes-loginsocial img{
    cursor:pointer
}
.cp-modal-loginComFacebook{
    display:none
}
.cp-modal-loginComFacebook .box-result-alert{
    display:none;
    margin-bottom:10px
}
#ModalLoginComFacebook{
    width:300px;
    background:#fff;
    border:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin:0;
    padding:25px
}
#ModalLoginComFacebook .cp-modal-loginComFacebook-message .message{
    height:36px;
    padding-left:46px;
    display:block;
    line-height:36px;
    font-size:14px;
    color:#3d3e3e;
    background:url(../../images/loading.gif) no-repeat left center}
.fancybox-skin{
    background:#fff!important
}
.fancybox-inner{
    overflow:auto!important
}


#section-first,#section-contratar,#seciton-trabalhar{
    font-family:'Roboto Condensed',sans-serif
}
#section-first,.section-contratar-inner,.section-trabalhar-inner{
    width:910px;
    margin:0 auto;
}
#section-first>h1,#section-first>p{
    text-align:center;
    color:#3d3e3e
}
#section-first>h1{
    margin-top:188px;
    font-size:30px;
    font-weight:400
}
#section-first>p{
    font-size:50px
}
#section-first .group-buttons{
    width:430px;
    margin:0 auto;
    margin-top:34px;
    overflow:hidden
}
#section-first .group-buttons>a{
    display:inline-block;
    float:left
}
#section-first .group-buttons>a:last-child{
    float:right
}
.section-contratar-trabalhar{
    overflow:hidden
}
.section-contratar-trabalhar h2{
    font-size:27px;
    color:#fff;
    font-weight:400;
    margin-top:130px;
    margin-bottom:50px;
    text-align:center
}
.section-contratar-trabalhar .list-passos{
    overflow:hidden;
    list-style-type:none;
    width:577px;
    margin:0 auto;
    margin-top:60px;
    margin-bottom:60px
}
.section-contratar-trabalhar .list-passos>li{
    width:200px;
    height:200px;
    float:left
}
.section-contratar-trabalhar .list-passos>li:last-child{
    width:177px
}
.section-contratar-trabalhar .list-passos>li .passo{
    width:176px;
    height:200px;
    float:left;
    background:url(../../images/circle-passos-bg.png) no-repeat top center
}
.section-contratar-trabalhar .list-passos>li .passo>img{
    display:block
}
.section-contratar-trabalhar .list-passos>li .passo>span{
    display:block;
    text-align:center;
    color:#fff;
    font-size:15px
}
.section-contratar-trabalhar .list-passos>li .seta{
    width:24px;
    height:200px;
    float:left;
    margin-top:46px
}
.section-contratar-trabalhar .divisor{
    width:680px;
    height:9px;
    margin:0 auto;
    margin-top:35px;
    margin-bottom:12px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    text-align:center
}
.section-contratar-trabalhar .divisor>span{
    color:#fff;
    font-size:13px;
    display:inline-block;
    padding:0 6px
}
.section-contratar-trabalhar .link-normal-outer{
    text-align:center;
    margin-bottom:110px
}
.section-contratar-trabalhar .link-normal{
    font-size:15px;
    color:#fff
}
.section-contratar-trabalhar .link-normal:hover{
    text-decoration:underline
}
#section-contratar{
    margin-top:199px;
    background:#067e22
}
#section-contratar .divisor{
    border-bottom-color:#0aa457
}
#section-contratar .divisor>span{
    background:#067e22
}
#section-contratar .passo-1>img{
    margin-top:37px;
    margin-left:65px
}
#section-contratar .passo-1>span{
    margin-top:50px
}
#section-contratar .passo-2>img{
    margin-top:37px;
    margin-left:65px
}
#section-contratar .passo-2>span{
    margin-top:50px
}
#section-contratar .passo-3>img{
    margin-top:37px;
    margin-left:65px
}
#section-contratar .passo-3>span{
    margin-top:50px
}
#section-trabalhar{
    background:#3408db
}
#section-trabalhar .divisor{
    border-bottom-color:#5983ef
}
#section-trabalhar .divisor>span{
    background:#3498db
}
#section-trabalhar .passo-1>img{
    margin-top:37px;
    margin-left:65px
}
#section-trabalhar .passo-1>span{
    margin-top:50px
}
#section-trabalhar .passo-2>img{
    margin-top:37px;
    margin-left:65px
}
#section-trabalhar .passo-2>span{
    margin-top:50px
}
#section-trabalhar .passo-3>img{
    margin-top:37px;
    margin-left:65px
}
#section-trabalhar .passo-3>span{
    margin-top:50px
}
.flat-btn{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:22px 64px 19px;
    font-size:18px;
    font-weight:300;
    color:#fff;
    border-bottom-style:solid;
    border-bottom-width:3px
}
.flat-btn-orange{
    background:#067e22;
    border-bottom-color:#0c6518;
    -webkit-text-shadow:0 -1px 0 #05630c;
    -moz-text-shadow:0 -1px 0 #05630c;
    -ms-text-shadow:0 -1px 0 #05630c;
    -o-text-shadow:0 -1px 0 #05630c;
    text-shadow:0 -1px 0 #05630c
}
.flat-btn-orange:hover{
    background:#038c32
}
.flat-btn-blue{
    background:#3408db;
    border-bottom-color:#2a00b9;
    -webkit-text-shadow:0 -1px 0 #2201c1;
    -moz-text-shadow:0 -1px 0 #2201c1;
    -ms-text-shadow:0 -1px 0 #2201c1;
    -o-text-shadow:0 -1px 0 #2201c1;
    text-shadow:0 -1px 0 #2201c1
}
.flat-btn-blue:hover{
    background:#490bed
}
.flat-btn-fb{
    clear:both;
    display:block;
    width:233px;
    margin:0 auto;
    background:#3b5998 url(../../images/icon-fb-button.png) no-repeat 23px center;
    padding:22px 28px 19px 60px;
    border-bottom-color:#294276;
    -webkit-text-shadow:0 -1px 0 #24417c;
    -moz-text-shadow:0 -1px 0 #24417c;
    -ms-text-shadow:0 -1px 0 #24417c;
    -o-text-shadow:0 -1px 0 #24417c;
    text-shadow:0 -1px 0 #24417c
}
@-moz-document url-prefix(){
    .flat-btn-fb{
        width:240px
    }
}
.flat-btn-fb:hover{
    background:#4d6aa8 url(../../images/icon-fb-button.png) no-repeat 23px center
}
