body {
    /*background-color: #ECF0F1;*/
    /*overflow: hidden;*/
    padding-top: 60px;
}
.navbar {
    /*    margin-bottom: 0px;*/
}
section {
    overflow: hidden;
}
#section-home  {
    /*background: none repeat scroll 0 0 #FFF;*/
    height: 570px;
}
.jumbotron {
    background-color: transparent;
}
#section-first {
    background: none repeat scroll 0 0 #ECF0F1;
    height: 630px;
    padding-top: 50px;
}
/*.first {
    margin-top: -500px;
    position: absolute;
}*/
.busca-background {
    background-color: rgba(255,255,255,0.8);
    padding-top: 10px;
    padding-bottom: 10px;
}


#section-second {
    background: none repeat scroll 0 0 #36C3E5;
    height: 625px;
}
#section-third {
    background: none repeat scroll 0 0 #59C57C;
    height: 625px;
}
#section-quarto {
    background: none repeat scroll 0 0 #FCB533;
    height: 625px;
}
#section-cinco {
    background: none repeat scroll 0 0 #222222;
    height: 625px;
}

#map {
    width: 100%;
    height: 100%;
}

.infoBox { background-color: #FFF; width: 300px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; border: 2px solid #3fa7d8; border-radius: 3px; margin-top: 10px }
.infoBox p { padding: 0 15px }
.infoBox:before { border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #3fa7d8; top: -10px; content: ""; height: 0; position: absolute; width: 0; left: 138px }

.pagination {
    margin: 5px 0px;
    float: right;
}

.popover {
    width: 590px;
    max-width: 600px;
}