div#formDefault {
    float: left;
    width: 100%;
}
div#formDefault ul li {
    width:99%;
    float:left;
    padding: 4px 5px 2px 9px;
    margin:0px;
}
div#formDefault ul li.medium {
    width:48%;
}
div#formDefault ul li.little {
    width:24%;
}
div#formDefault ul li div {
    margin:4px 0px 4px 0px;
}
div#formDefault ul li div.left {
    float: left;
    width: 49%;
}
div#formDefault ul li div.right {
    float: right;
    width: 49%;
}
div#formDefault ul li span {
    color: #444444;
    float: left;
    margin: 0px 4px 0px 0px;
    padding: 0px 0px 8px;
}


div#formDefault ul li div label {
    clear: both;
    color: #444444;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding-top: 3px;
    width: 100%;
}
div#formDefault ul li span label.choice {
    color: #444444;
    display: block;
    font-size: 100%;
    line-height: 1.4em;
    margin: -1.55em 0 0 25px;
    padding: 4px 0 5px;
    width: 90%;
}
div#formDefault ul li div input.text {
    background:#fff url(../img/form/shadow.gif) repeat-x top;
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
    color:#333;
    font-size:100%;
    height: 22px;
    margin:0;
    padding:2px 0;
}
div#formDefault ul li div select.select {
    font-size:11px;
    color:#333;
    margin:1px 0;
    padding:1px 0 0;
    background:#fff url(../img/form/shadow.gif) repeat-x top;
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
    height: 25px;
}
div#formDefault ul li div.left .medium {
    width: 49%;
}
div#formDefault ul li div.left .large {
    width: 98%;
}
div#formDefault ul li div.right .medium {
    width: 49%;
}
div#formDefault ul li div.right .large {
    width: 99%;
}













div#form_container {
    display: block;
    float: left;
    /*height: 100%;*/
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}
div#form_container fieldset {
    border: 1px dotted #CCCCCC;

}
div#form_container fieldset fieldset {
    float: left;
    margin: 0 10px 5px 0;
    padding: 5px 0px;
    width: 49%;
}
div#form_container .selectlist-list li {float:none !important;}
div#form_container ul li {
    float:left;
}
div#form_container ul li div {
    margin:4px;
}
div#form_container ul li.liLarge {
    width:47%;
}
div#form_container ul li div select.select {
    font-size:11px;
    color:#333;
    margin:1px 0;
    padding:1px 0 0;
    background:#fff url(../img/form/shadow.gif) repeat-x top;
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
    height: 22px;
}
div#form_container ul li div input.text {
    background:#fff url(../img/form/shadow.gif) repeat-x top;
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
    color:#333;
    font-size:100%;
    height: 18px;
    margin:0;
    padding:2px 0;
}

div.simpleForm {
    width:100%;
}
div.simpleForm ul {
}
div.simpleForm li {
    font-family: 'Lucida Grande',Tahoma,Arial,Verdana !important;
    list-style: none outside none;
    width: 100%;
    padding:0px 0px 0px 0px;
    margin: 0px;
}
div.simpleForm li.section_break {
    border-top: 1px dotted #CCCCCC;
}
div.simpleForm li div {
    margin:4px 4px 4px 0px;
}
div.simpleForm li div input {
    width: 61%;
}
div.simpleForm li div input.little {
    width: 29.6%;
}
div.simpleForm li div select {
    width: 62%;
}
div.simpleForm li span {
    color:#444;
    float:left;
    margin:0 4px 0 0;
    padding:0 0 8px;
}
div.simpleForm li div.left {
    display:inline;
    float:left;
    width:48%;
}
div.simpleForm li div.small {
    float:left;
    width:19.68%;
}
div.simpleForm li div.medium {
    float:left;
    width:25%;
}
div.simpleForm li div.info {
    display:block;
    float:left;
    width:12%;
    height: 53px;
}
div.simpleForm li div label {
    clear:both;
    color:#444;
    display:block;
    font-size:13px;
    float:left;
    line-height:9px;
    margin:0;
    padding:3px 0px 4px 0px;
    width: 38%;
}
div.simpleForm li span label {
    clear:both;
    color:#444;
    display:block;
    font-size:9px;
    line-height:9px;
    margin:0;
    padding-top:3px;
}
div#filter {
    float: left;
    width:100%;
}
div#filter ul {
}
div#filter li {
    font-family: 'Lucida Grande',Tahoma,Arial,Verdana,sans-serif;
    list-style: none outside none;
    float: left;
    width: 100%;
    padding:0px 0px 0px 0px;
    margin: 0px;
}
div#filter li.section_break {
    border-top: 1px dotted #CCCCCC;
}
div#filter li div {
    margin:2px 4px 2px 0px;
}
div#filter li span {
    color:#444;
    float:left;
    margin:0 4px 0 0;
    padding:0 0 8px;
}
div#filter li div.left {
    display:inline;
    float:left;
    width:48%;
}
div#filter li div.small {
    float:left;
    width:19.6%;
    min-height: 22px;
}
div#filter li div.medium {
    float:left;
    width:25%;
}
div#filter li div.size {
    float:left;
    width:50%;
}
div#filter li div.mini_size {
    float:left;
    width:20%;
}
div#filter li div.medium_size {
    float:left;
    width:30%;
}
div#filter li div.info {
    display:block;
    float:left;
    width:12%;
    height: 53px;
}
div#filter li div label {
    clear:both;
    color:#444;
    display:block;
    font-size:11px;
    float:left;
    line-height:17px;
    margin:0;
    padding-top:3px;
    width: 35%;
    min-width: 80px;
    white-space: nowrap;
}
div#filter li span label {
    clear:both;
    color:#444;
    display:block;
    font-size:10px;
    line-height:17px;
    margin:0;
    padding-top:3px;
}
div#filter ul li div.action {
    margin:0px 0px 0px 565px;
}




div.filter {
    float: left;
    width:100%;
}
div.filter ul {
}
div.filter li {
    font-family: 'Lucida Grande',Tahoma,Arial,Verdana,sans-serif;
    list-style: none outside none;
    float: left;
    width: 99.5%;
    padding:0px 0px 0px 10px;
    margin: 0px;
}
div.filter li.section_break {
    border-top: 1px dotted #CCCCCC;
    padding: 0px;
    width: 100% !important;
}
div.filter li div {
    margin:2px 4px 2px 0px;
}
div.filter li span {
    color:#444;
    float:left;
    margin:0 4px 0 0;
    padding:0 0 8px;
}
div.filter li div.left {
    display:inline;
    float:left;
    width:48%;
}
div.filter li div.small {
    float:left;
    width:19.68%;
}
div.filter li div.medium {
    float:left;
    width:25%;
}
div.filter li div.size {
    float:left;
    width:50%;
}
div.filter li div.mini_size {
    float:left;
    width:20%;
}
div.filter li div.medium_size {
    float:left;
    width:30%;
}
div.filter li div.info {
    display:block;
    float:left;
    width:12%;
    height: 53px;
}
div.filter li div label {
    clear:both;
    color:#444;
    display:block;
    font-size:11px;
    float:left;
    line-height:17px;
    margin:0;
    padding-top:3px;
    width: 35%;
}
div.filter li span label {
    clear:both;
    color:#444;
    display:block;
    font-size:10px;
    line-height:17px;
    margin:0;
    padding-top:3px;
}
div.filter li div p {
    color:#444;
    font-size:11px;
    float:left;
    line-height:17px;
    margin:0;
    padding-top:3px;
    width: 98%;
}

div.filter ul li div.action {
    margin:0px 0px 0px 565px;
}







div#tools {
    border: 1px solid #E2E2E2;
    width: 100%;
    height: 65px;
    float: left;
    margin: 0px 0px 5px 0px;
}
div#filtered {
    background: #EEF2FB url(../img/icons/tools/filter.png) no-repeat top left;
    border-right: 1px solid #E2E2E2;
    width: 59%;
    height: 58px;
    float: left;
    padding: 5px 0px 2px 60px;
}
div#filtered h4 {
    color: #666666;
    font-family: "Lucida Sans Unicode","Lucida Sans","Trebuchet MS",Arial,sans-serif;
    font-size: 16px;
    margin: 0px 0px 5px 5px;
    padding: 0px;
}
div#filtered ul {
    list-style: none;
    padding: 0px 0px 0px 20px;
}
div#filtered ul li {
    font-family:arial;
    font-size:12px;
    list-style: none;
    float: left;
    padding: 2px 0px 2px 0px;
    margin: 0px 0px 0px 5px;
}
div#actions {
    width: 36%;
    height: 52px;
    float: left;
    padding: 5px 0px 2px 0px;
}
div#actions h4 {
    color: #666666;
    font-family: "Lucida Sans Unicode","Lucida Sans","Trebuchet MS",Arial,sans-serif;
    font-size: 16px;
    float: left;
    margin: 0px 0px 5px 5px;
    padding: 0px;
}
div#actions ul {
    list-style: none;
}
div#actions ul li {
    font-family:arial;
    font-size:12px;
    list-style: none;
    float: right;
    padding: 2px 0px 2px 0px;
    margin: 0px 0px 0px 5px;
}
div.showFormPendencia {
    float: left; 
    width: 890px; 
    height: 25px; 
    font-size: 16px; 
    color:#77d5f7; 
    padding: 5px 0px 0px 0px;
}
fieldset.default {
    background-color: #EDEDED;
    border: 1px dotted #AAAAAA;
    padding: 5px 10px 5px 5px;
    float: left;
    width: 885px;
}
fieldset.default legend {
    font-family:Arial, Helvetica;
    font-size: 11px;
    font-weight:bold;
    color:#4F95DD;
    margin:0px 5px;
    padding:0px 10px;
}
.bgPendencia {
    background-color: #FF7070;
}
fieldset.pendencia {
    background-color: #FCEDED;
    border: 1px dotted #DD5656;
    padding: 5px 10px 5px 5px;
    float: left;
    width: 885px;
}
fieldset.pendencia legend {
    font-family:Arial, Helvetica;
    font-size: 11px;
    font-weight:bold;
    color:#F97A7A;
    margin:0px 5px;
    padding:0px 10px;
}
fieldset.pendencia ul li {
    font-size: 12px;
    padding: 3px 0; 
}
.bgResponse {
    background-color: #6681F9;
}
fieldset.response {
    background-color: #E0E4FF;
    border: 1px dotted #3251FF;
    clear: both;
    padding: 5px 10px 5px 5px;
    float: left;
    width: 885px;
}
fieldset.response legend {
    font-family:Arial, Helvetica;
    font-size: 11px;
    font-weight:bold;
    color:#5F77FC;
    margin:0px 5px;
    padding:0px 10px;
}

fieldset {
    border: 1px dotted #AAAAAA;
}
fieldset legend {
    font-family:Arial, Helvetica;
    font-size: 11px;
    font-weight:bold;
    color:#4F95DD;
    margin:0px 5px;
    padding:0px 10px;
}

fieldset fieldset {
    float: left;
    width: 48.5%;
}

/**** Buttons ****/
input.button_text {
    overflow:visible;
    padding:0 7px;
    width:auto;
}
.buttons input {
    font-size:100%;
    margin-right:5px;
}
input.botao {
    float: left;
    display: block;
    width: auto !important;
    margin-right: 10px;
    padding: 5px;
    padding-left: 25px;
    border: solid 1px #CCC;
    border-left: solid 3px #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #DADADA;
    font-family: Arial, Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    height: 30px;
    cursor: pointer;
}
input.botao_disabled {
    float: left;
    display: block;
    width: auto;
    margin-right: 10px;
    padding: 5px;
    padding-left: 25px;
    border: solid 1px #CCC;
    border-left: solid 3px #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #999999 !important;
    font-family: Arial, Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    height: 30px;
    cursor: not-allowed;
}
input.consultar {
    background-image: url(../img/button/icon-consultar.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
input.consultar:hover {
    border: solid 1px #BDD8F3;
    border-left: solid 3px #45729F;
    background-color: #D2E4F6;
    color: #45729F;
}
input.importar {
    background-image: url(../img/database-import.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
input.importar:hover {
    border: solid 1px #BDD8F3;
    border-left: solid 3px #45729F;
    background-color: #D2E4F6;
    color: #45729F;
}
input.close_lock{
    background-image: url(../img/lockTrue.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
input.close_lock:hover {
    border: solid 1px #BDD8F3;
    border-left: solid 3px #45729F;
    background-color: #D2E4F6;
    color: #45729F;
}
input.clone{
    background-image: url(../img/clone.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
input.clone:hover {
    border: solid 1px #BDD8F3;
    border-left: solid 3px #45729F;
    background-color: #D2E4F6;
    color: #45729F;
}

input.open_lock{
    background-image: url(../img/lockFalse.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
input.open_lock:hover {
    border: solid 1px #BDD8F3;
    border-left: solid 3px #45729F;
    background-color: #D2E4F6;
    color: #45729F;
}
input.refresh{
    background-image: url(../img/arrow_refresh.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
input.refresh:hover {
    border: solid 1px #BDD8F3;
    border-left: solid 3px #45729F;
    background-color: #D2E4F6;
    color: #45729F;
}
input.filter{
    background-image: url(../img/button/filter.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
input.filter:hover {
    border: solid 1px #BDD8F3;
    border-left: solid 3px #45729F;
    background-color: #D2E4F6;
    color: #45729F;
}
input.voltar{
    background-image: url(../img/icon-back.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
input.voltar:hover {
    border: solid 1px #BDD8F3;
    border-left: solid 3px #45729F;
    background-color: #D2E4F6;
    color: #45729F;
}
input.reset{
    background-image: url(../img/icon-reset.png);
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
input.reset:hover {
    border: solid 1px #BDD8F3;
    border-left: solid 3px #45729F;
    background-color: #D2E4F6;
    color: #45729F;
}
input.salvar { background-image: url(../img/icon-salvar.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.salvar:hover { border: solid 1px #AFDFA7; border-left: solid 3px #3A7F34; background-color: #D5EFD1; color: #3A7F34; }

input.pendencia{ background-image: url(../img/alert_red.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.pendencia:hover { border: solid 1px #AFDFA7; border-left: solid 3px #3A7F34; background-color: #D5EFD1; color: #3A7F34; }

input.encaminhar{ background-image: url(../img/walk.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.encaminhar:hover { border: solid 1px #AFDFA7; border-left: solid 3px #3A7F34; background-color: #D5EFD1; color: #3A7F34; }

input.salvar2 { background-image: url(../img/disk.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.salvar2:hover { border: solid 1px #AFDFA7; border-left: solid 3px #3A7F34; background-color: #D5EFD1; color: #3A7F34; }

input.handover { background-image: url('../img/icon-salvar.png'); background-position: 5px 50%; background-repeat: no-repeat; }
input.handover:hover { border: solid 1px #AFDFA7; border-left: solid 3px #3A7F34; background-color: #D5EFD1; color: #3A7F34; }

input.imprimir { background-image: url(../img/imprimir.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.imprimir:hover { border: solid 1px #AFDFA7; border-left: solid 3px #3A7F34; background-color: #D5EFD1; color: #3A7F34; }

input.adicionar{ background-image: url(../img/icon-add.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.adicionar:hover { border: solid 1px #AFDFA7; border-left: solid 3px #3A7F34; background-color: #D5EFD1; color: #3A7F34; }

input.listar{ background-image: url(../img/text_list_bullets.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.listar:hover { border: solid 1px #AFDFA7; border-left: solid 3px #3A7F34; background-color: #D5EFD1; color: #3A7F34; }

input.criar{ background-image: url(../img/wand.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.criar:hover { border: solid 1px #AFDFA7; border-left: solid 3px #3A7F34; background-color: #D5EFD1; color: #3A7F34; }

input.editar { background-image: url(../img/icon-editar.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.editar:hover { border: solid 1px #DFD161; border-left: solid 3px #A95F15; background-color: #FAEE8D; color: #A95F15; }

input.excluir { background-image: url(../img/icon-excluir.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.excluir:hover { border: solid 1px #FF9F8F; border-left: solid 3px #AF312B; background-color: #F8B5A9; color: #AF312B; }

input.deletar { background-image: url(../img/delete.gif); background-position: 5px 50%; background-repeat: no-repeat; }
input.deletar:hover { border: solid 1px #FF9F8F; border-left: solid 3px #AF312B; background-color: #F8B5A9; color: #AF312B; }

input.anexar { background-image: url(../img/anexar2.png); background-position: 5px 50%; background-repeat: no-repeat; }
input.anexar:hover { border: solid 1px #BDD8F3;
                     border-left: solid 3px #45729F;
                     background-color: #D2E4F6;
                     color: #45729F; }


input.text {
    background-image: url(../img/form/shadow.gif) repeat-x top;
    /*background:#fff url(../imagens/shadow.gif) repeat-x top;*/
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
    color:#333;
    margin:0;
    padding:2px 0;
}
input.file {
    color:#333;
    font-size:100%;
    margin:0;
    padding:2px 0;
}
textarea.textarea {
    background:#fff url(../img/form/shadow.gif) repeat-x top;
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
    color:#333;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana;
    font-size:100%;
    margin:0px 0px 5px 0px;
    width:99%;
}
select.select {
    font-size:12px !important;
    margin:1px 0;
    padding:1px 0 0;
    background-image:url(../img/form/shadow.gif) repeat-x top;
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
}
select.select[class] {
    margin:0;
    padding:1px 0;
}
input.currency {
    text-align:right;
}
input.checkbox {
    display:block;
    height:13px;
    line-height:1.4em;
    margin:6px 0 0 3px;
    width:13px;
}
input.radio {
    display:block;
    height:13px;
    line-height:1.4em;
    margin:6px 0 0 3px;
    width:13px;
}
select.small {
    width:25%;
}
select.medium {
    width:60%;
}
select.semiWide {
    width:65%;
}
select.wide {
    width:75%;
}
select.semiWide {
    width:65%;
}
select.large {
    width:100%;
}
input.small {
    width:25%;
}
input.little {
    width:13%;
}
input.medium {
    width:60%;
}
input.large {
    width:99%;
}
textarea.small {
    float: left;
    height: 5.5em;
    margin: 0px;
    padding: 0px;
    width: 67%;
}

textarea.large {
    height:20em;
}
/**** Guidelines and Error Highlight ****/
form li.highlighted {
    background-color:#fff7c0;
}
form .guidelines {
    background:#f5f5f5;
    border:1px solid #e6e6e6;
    color:#444;
    font-size:80%;
    left:100%;
    line-height:130%;
    margin:0 0 0 8px;
    padding:8px 10px 9px;
    position:absolute;
    top:0;
    visibility:hidden;
    width:42%;
    z-index:1000;
}
form .guidelines small {
    font-size:105%;
}
form li.highlighted .guidelines {
    visibility:visible;
}
form li:hover .guidelines {
    visibility:visible;
}
.no_guidelines .guidelines {
    display:none !important;
}
.no_guidelines form li {
    width:97%;
}
.no_guidelines li.section {
    padding-left:9px;
}
.div_add{
    clear: both;float: right;padding-bottom: 5px
}
.link_blocked{ cursor:not-allowed}
.link_default{color:blue !important}
.cls_hidden{display:none}