*{
    margin:0;
    padding:0;
    border:0;
    font-size:11px;
    font-family:'lucida grande',tahoma,verdana,arial,sans-serif
}
a{
    text-decoration:none
}
body{
    font-size:14px;
    background:url(../images/bodyBg.jpg) repeat
}
ul{
    list-style-type:none
}
ul li a{
    color:#e0e0e0
}
ul li a:hover{
    color:#fff
}
header{
    height:50px;
    width:100%;
    background:#10305e;
    box-shadow:0 .2em .2em #8c8c8c;
    -moz-box-shadow:0 .2em .2em #8c8c8c;
    -webkit-box-shadow:0 .2em .2em #8c8c8c
}
.box-header{
    width:910px;
    margin:0 auto
}
.box-header img.logo{
    display:block;
    float:left;
    margin-top:11px;
    margin-left:15px
}
.box-header>ul{
    color:#e0e0e0;
    list-style-type:none;
    height:26px;
    margin-left:157px;
    float:left;
    margin-top:18px
}
.box-header>ul li{
    float:left;
    border-left:1px solid #212222;
    border-right:1px solid #4b4d4d;
    padding:0 16px
}
.box-header>ul li a{
    font-size:13px
}
.box-header>ul li:first-child{
    border-left:0
}
.box-header>ul li:last-child{
    border-right:0
}
.header-bottom-border{
    width:100%;
    height:5px;
    background:url(../images/headerBottomBorder.png) repeat-x
}
.header-bottom-border.logged{
    height:50px;
    background:#48b9c7 url(../images/header-bottom-border-logged.jpg) repeat-x;
    border-bottom:1px solid #3CB1C0
}
.header-bottom-border.logged>.header-bottom-border-inner{
    width:910px;
    margin:0 auto;
    padding-left:35px
}
.header-bottom-border.logged>.header-bottom-border-inner>ul>li{
    float:left;
    position:relative
}
.header-bottom-border.logged>.header-bottom-border-inner>ul>li>a{
    color:#fff;
    font-size:14px;
    height:50px;
    line-height:50px;
    padding:0 10px;
    display:inline-block
}
.header-bottom-border.logged>.header-bottom-border-inner>ul>li>a:hover{
    background:#5bc0cd
}
.header-bottom-border.logged>.header-bottom-border-inner>ul>li>ul{
    display:none;
    padding:5px 0;
    background:#fff;
    border:1px solid #ccc;
    border-top:0;
    width:200px;
    position:absolute;
    box-shadow:0 3px 8px rgba(0,0,0,.15);
    -moz-box-shadow:0 3px 8px rgba(0,0,0,.15);
    -webkit-box-shadow:0 3px 8px rgba(0,0,0,.15)
}
.header-bottom-border.logged>.header-bottom-border-inner>ul>li:hover>ul{
    display:block;
    z-index:2
}
.header-bottom-border.logged>.header-bottom-border-inner>ul>li>ul>li>a{
    padding:8px 10px;
    color:#4c4c4c;
    display:block
}.header-bottom-border.logged>.header-bottom-border-inner>ul>li>ul>li>a:hover{
    color:#fff;
    background:#48b9c7
}
input[type=text],input[type=password],textarea{
    height:30px;
    width:496px;
    background:#fff;
    border:1px solid;
    color:#000;
    padding-left:6px;
    padding-right:10px;
    border-color:#d9d9d9;
    border-top-color:silver;
    box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.1);
    font-size:15px
}
input[type=text]:hover,input[type=password]:hover,textarea:hover{
    border-color:#b9b9b9;
    border-top-color:#a0a0a0
}
input[type=text]:focus,input[type=password]:focus,textarea:focus{
    border-color:#4fd4e3;
    outline:0;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.1);
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.1)
}
input[type=text].no-round-left,input[type=password].no-round-left,textarea.no-round-left{border-top-left-radius:0!important;
              border-bottom-left-radius:0!important}
input[type=text].no-round-right,input[type=password].no-round-right,textarea.no-round-right{border-top-right-radius:0!important;
               border-bottom-right-radius:0!important
}
input.invalidField{
    background:#fce8e0;
    color:#cd3f0c
}
input.invalidField:focus{
    border-color:#e34f4f!important
}
span.field-required{
    color:#B91717;
    font-weight:700
}
.removeTooltip{
    border:1px solid red!important
}
.removeTooltip.select2-container{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}
.clear{
    clear:both
}
.icon-sprite{
    background:url(../../images/sprites.png) no-repeat 0 0
}
.container-with-label{
    width:400px
}
.container-with-label div.first{
    padding:0 17px;
    height:30px;
    float:left;
    line-height:30px;
    text-align:center;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border:1px solid;
    border-color:#D9D9D9;
    border-top-color:silver;
    background:#eee
}
.container-with-label input{
    width:150px;
    float:left;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0
}
.container-with-label div.last{
    padding:0 17px;
    height:30px;
    float:left;
    line-height:30px;
    text-align:center;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border:1px solid;
    border-color:#D9D9D9;
    border-top-color:silver;
    background:#eee
}
.field-required-message{
    margin-top:10px;
    display:block;
    font-size:12px
}
.cp-box-error{
    padding:10px 8px;
    border:1px solid #dd9a9a;
    background:#fcd4d1;
    color:#9C2F2F;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition:all .5s;
    transition:all .5s
}
.cp-box-success{
    padding:10px 8px;
    border:1px solid #a1da96;
    background:#d4fecc;
    color:#4c9442;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition:all .5s;
    transition:all .5s
}
.cp-box-alert{
    padding:10px 8px;
    border:1px solid #F9E98E;
    background:#FBF7AA;
    color:#A2844A;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition:all .5s;
    transition:all .5s
}
.cp-box-falha{
    width:100%;
    padding:10px 0;
    display:none;
    position:fixed;
    bottom:0;
    left:0;
    background:#dd9a9a;
    border-top:1px solid #c87676;
    text-align:center;
    z-index:9999
}
.cp-box-falha .cp-box-falha-text{
    text-align:center;
    color:#fff;
    font-size:17px;
    text-shadow:0 .1em .2em #c17878
}
.cp-box-falha .cp-box-falha-text>a{
    text-align:center;
    color:#fff;
    font-size:17px;
    text-shadow:0 .1em .2em #c17878;
    text-decoration:underline
}
.cp-box-falha .cp-box-falha-exit{
    position:absolute;
    right:0;
    top:0;
    margin:5px 5px 0 0
}
.cp-box-falha .cp-box-falha-exit:hover{
    cursor:pointer
}
.bigbutton{
    background:#3d3e3e url(../images/lightButton.png) no-repeat top center;
    box-shadow:0 0 .2em #8c8c8c;
    -moz-box-shadow:0 0 .2em #8c8c8c;
    -webkit-box-shadow:0 0 .2em #8c8c8c;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    width:200px;
    height:60px;
    font-size:16px;
    color:#e7e8e8
}
.bigbutton:hover{
    cursor:pointer;
    color:#fbf9f9
}
.bigbutton:active{
    box-shadow:inset 0 0 .2em #8c8c8c;
    -moz-box-shadow:inset 0 0 .2em #8c8c8c;
    -webkit-box-shadow:inset 0 0 .2em #8c8c8c
}
.buttonGoogleStyle{
    background-color:#fafafa;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#F1F1F1));
    background-image:-webkit-linear-gradient(top,#fafafa,#F1F1F1);
    background-image:-o-linear-gradient(top,#fafafa,#F1F1F1);
    background-image:linear-gradient(top,#fafafa,#F1F1F1);
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border:1px solid #DCDCDC;
    border:1px solid rgba(0,0,0,.1);
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    color:#666;
    cursor:default;
    font-family:arial,sans-serif;
    font-size:11px;
    font-weight:700;
    height:29px;
    line-height:27px;
    margin:11px 6px;
    min-width:54px;
    padding:0 8px;
    text-align:center
}
.buttonGoogleStyle:hover{
    background-color:#F8F8F8;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#F1F1F1));
    background-image:-webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image:-o-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image:linear-gradient(top,#F8F8F8,#F1F1F1);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,.1);
    box-shadow:0 1px 1px rgba(0,0,0,.1);
    border:1px solid #C6C6C6;
    color:#333
}
.buttonGoogleStyle:active,.buttonGoogleStyle:focus{
    outline:0;
    border-color:#4fd4e3
}
.buttonGoogleStyle:active{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
}
.facebookStyle{
    border:1px solid;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    position:relative;
    text-shadow:0 1px 2px rgba(0,0,0,.3);
    padding:12px 20px;
    font-size:15px
}
.facebookStyle:hover{
    background:#81d1d0;
    background:-moz-linear-gradient(top,#81d1d0 0,#58a6a5 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#81d1d0),color-stop(100%,#58a6a5));
    background:-webkit-linear-gradient(top,#81d1d0 0,#58a6a5 100%);
    background:-o-linear-gradient(top,#81d1d0 0,#58a6a5 100%);
    background:-ms-linear-gradient(top,#81d1d0 0,#58a6a5 100%);
    background:linear-gradient(to bottom,#81d1d0 0,#58a6a5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#81d1d0', endColorstr='#58a6a5', GradientType=0)
}
.facebookStyle:active{
    border-color:#47b6b5 #47b6b5 #318584;
    background:#60c6c5;
    background:-moz-linear-gradient(top,#60c6c5 0,#56b5b4 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#60c6c5),color-stop(100%,#56b5b4));
    background:-webkit-linear-gradient(top,#60c6c5 0,#56b5b4 100%);
    background:-o-linear-gradient(top,#60c6c5 0,#56b5b4 100%);
    background:-ms-linear-gradient(top,#60c6c5 0,#56b5b4 100%);
    background:linear-gradient(to bottom,#60c6c5 0,#56b5b4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#60c6c5', endColorstr='#56b5b4', GradientType=0)
}
.facebookStyleBlue{
    box-shadow:inset 0 1px 1px #88e0e3;
    -webkit-box-shadow:inset 0 1px 1px #88e0e3;
    -moz-box-shadow:inset 0 1px 1px #88e0e3;
    border-color:#33908f #33908f #206867;
    background:#50c7c6;
    background:-moz-linear-gradient(top,#50c7c6 0,#48a6a5 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#50c7c6),color-stop(100%,#48a6a5));
    background:-webkit-linear-gradient(top,#50c7c6 0,#48a6a5 100%);
    background:-o-linear-gradient(top,#50c7c6 0,#48a6a5 100%);
    background:-ms-linear-gradient(top,#50c7c6 0,#48a6a5 100%);
    background:linear-gradient(to bottom,#50c7c6 0,#48a6a5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#50c7c6', endColorstr='#48a6a5', GradientType=0)
}
.cp-modal{
    width:300px;
    background:#fff;
    border:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin:0;
    padding:25px;
    display:none
}
.cp-modal .box-result-validation,.cp-modal .box-result-success,.cp-modal .box-result-alert{
    display:none;
    width:283px;
    margin-bottom:10px
}
.cp-modal .cp-modal-loading-message span{
    height:36px;
    padding-left:46px;
    display:block;
    line-height:36px;
    font-size:14px;
    color:#3d3e3e;
    background:url(../../images/loading.gif) no-repeat left center
}
.cp-modal h1{
    margin-bottom:0;
    margin-bottom:30px;
    font-size:17px;
    color:#4c4c4c;
    font-weight:400
}
.cp-modal h1 span{
    font-size:17px
}
.cp-modal h2{
    margin-bottom:15px;
    font-size:15px;
    font-weight:400
}
.cp-modal .formulario{
    width:300px;
    float:left
}
.cp-modal .formulario .label{
    font-size:14px;
    color:#3d3e3e;
    display:block;
    margin-bottom:1px
}
.cp-modal .formulario input{
    height:30px;
    width:282px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom:8px;
    font-size:15px
}
.cp-modal .formulario textarea{
    height:100px;
    max-width:400px;
    max-height:200px;
    padding-top:4px;
    padding-bottom:4px;
    margin-bottom:8px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.fancybox-skin{
    background:#fff!important
}
.cursor-help{
    cursor:help
}