/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
*{margin:0;padding:0;}
a{text-decoration:none;color:red;font-weight:bold;}
h1{font-size:30px;}
h2{font-size:20px;}
fieldset{padding:5px 0;}
legend{margin:0 0 0 10px;font-weight:bold;font-size:14px;}
hr{margin:5px 0;}

label{float:left;font-size:14px;font-weight:bold;padding:0 10px 0 0;width:80px;margin:10px 0 0; clear:both;}
input{float:left;margin:10px 70px 0 0; width:200px;}
textarea{float:left;margin:10px 10px 0 0; width:350px;height:100px;}
select{float:left;margin:10px 70px 0 0;}
.data{width:100px;margin:10px 0 0;float:left;}

#btnGravar{width:70px;margin:30px 0 0 30px;}
#btnLimpar{width:70px;margin:30px 0 0;}
div.quebraLinha{clear:both;}


div#all{width:1002px;margin:0 auto; border:1px solid burlywood;overflow:hidden;height:auto; padding:0 10px;}

div#header{padding:10px 0 10px 30px;}

div#content{height:auto; padding:10px 0 10px 0; overflow:hidden;}

div.menu {width:160px;float:left;}
div.menu fieldset{border:4px double silver;margin:0 0 10px 0;}
div.menu fieldset ul{margin:5px 0 0;padding:0 0 0 30px;}
div.menu fieldset li {list-style:none;clear:both;padding:3px 0 0;}

div.interno{width:792px;border:4px double silver;height:auto;float:left;margin:0 0 0 20px;padding:10px;}

div.form_div{padding:10px 0;width:390px;overflow:hidden;}

div#footer{}

div.alert_erro{display:none;color:red;border:1px solid red; text-align:center;width:300px;padding:4px;font-weight:bold;}

.alert_cadastro { border:1px solid red; color: red; padding:10px 15px 10px 15px; background-color:#F7F7F7; font-size:11px; margin: 10px auto; }
.alert_sucesso { border:1px solid green; color: green; padding:10px 15px 10px 15px; line-height:15px; background-color:#F7F7F7; font-size:11px; margin: 10px auto; width:90%; }
.img_clicavel { cursor:pointer; padding:10px 0 0 5px; vertical-align:middle; float:left; }